footer{
    width: 100%;
    height: 800px;
    background-color: #14212b;
    background-image: url("/img/footer1.png");
    background-repeat: no-repeat;
    background-position: center left ;
    .row1{
        width: 100%;
        background-image: url("/img/footer2.png") ;
        background-repeat: no-repeat;
        background-position: top right ;
        .col1{
            padding-top: 80px;
            padding-left: 90px;
            p{
                color: #7d91a0;
            }
            .icons{
                width: 180px;
                i{
                    color: #7d91a0;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover{
                        color: #ff4a17;
                    }
                }
            }
        }
        .col2{
            padding-top: 80px;
        
            .input{
                width: 700px;
                height: 220px;
                border: 2px solid #1d2d3a;
                h4{
                    color: white;
                }
                input{
                    width: 350px;
                    background-color: #14212b;
                    border: none;
                    color: #7d91a0;
                    font-weight: 800;
                    border-bottom: 3px solid #1d2d3a;
                    &:focus{
                        outline: none;
                    }
                }
                .button1{
                    line-height: 60px;
                      font-size: 18px;
                      font-weight: 700;
                  position: relative;
                  width: 200px;
                  height: 60px;
                      border-radius: 35px;
                      border: none;
                      cursor: pointer;
                      background-color: #ff4a17;
                      color: #fff;
                      &:hover{
                        button{
                        padding-left: 200px;
                        right: 0px;
                        }
                      }
                  
              a{
                  color: white;
                  position: absolute;
                  z-index: 3;
                  left: 30px;
      
          
      
                }   
              button{
                  width: 80px;
                  height: 60px;
                  background-color: #14212b;
                  border-radius: 35px;
                  position: absolute;
                  right: 10px;
                  border: none;
                  transition: 0.6s;
            
              }
       }
            }
        }

    }     
       .row2{
           width: 100%;
           padding-left: 100px;
            .col1{
                h4{
                    color: white;
                }
                p{
                    color: #7d91a0;
                }
                ul{
                    li{
                        padding-bottom: 10px;
                        font-size: 18px;
                        a{
                            color: #7d91a0;
                            text-decoration: none;
                        }
                    }
                }
                .icons{
                    p{
                        i{
                            color: #ff4a17; 
                            margin-right: 10px;
                        }
                    }
                }
            }
            .col4{
                padding-right: 100px;
                h4{
                    color: white;
                }
                .boxes{
                    .box1{
                        width: 320px;
                        .img1{
                            width: 100px;
                            height: 100px;
                            background-image: url("/img/ins1.jpg");
                        }
                        .img2{
                            width: 100px;
                            height: 100px;
                            background-image: url("/img/ins2.jpg");
                        }
                        .img3{
                            width: 100px;
                            height: 100px;
                            background-image: url("/img/ins3.jpg");
                        }
                    }
                    .box2{
                        width: 320px;
                        .img4{
                            width: 100px;
                            height: 100px;
                            background-image: url("/img/ins4.jpg");
                        }
                        .img5{
                            width: 100px;
                            height: 100px;
                            background-image: url("/img/ins5.jpg");
                        }
                        .img6{
                            width: 100px;
                            height: 100px;
                            background-image: url("/img/ins6.jpg");
                        }
                    }
                }
            }
        }
        .end{
            position: relative;
            margin: 100px;
       border-top: 1px solid #7d91a0;
       .icon{
           position: absolute;
            top: -30px;
            left: 50%;
           width: 70px;
           height: 70px;
           border-radius: 100%;
           background-color: #14212b;
           border: 1px solid #7d91a0;
           transition: 0.6s;
           &:hover{
               background-color: #ff4a17;
               i{
                   color: white;
               }
           }
           i{
            color: #ff4a17; 
            
           }
       }
       .text{
           p{
                color: #7d91a0;
                font-size: 19px;
            span{
                color: #ff4a17; 
            }
            }
       }
        }
}