.section4{
    height: 300px;
    width: 100%;
    .container{
        width: 100%;
    
    .row{
        width: 100%;
        height: 130px;
       
        display: flex;
        justify-content: space-between;
     
        .col-2{
            width: 200px;
         
            padding: 0;


}

img{
width: 100%;
height: 90%;

        }
    }
}
}