.section3{
    .container{
    img{
        width: 90%;
    }
        h1{
            font-size: 50px;
            font-weight: bold;
            span{
                border-bottom: 4px solid #44D2A8 ;
            }
        }
        .p{
            width: 650px;
            line-height: 35px;
            font-size: 20px;
        }
       
        button{
            width: 150px;
            height: 50px;
            border-radius: 30px;
            border: none;
            background-color: #44D2A8;
            color: white;
           top: 500px;
          
           
            &:hover{
                background-color: #212529;
            }
        }
    }
}